.banner {
  background-color: #148F68;
  padding: 1rem;
  margin-left: 0rem;
  margin-right: 0rem;
  margin-bottom: 1rem;
  width: 100%;
  min-height: 5rem;
  justify-content: space-between;
}

.layer {
  padding: 1rem;
}

.side-bar {
  border-radius: 0.35rem;
  background-color: #E9F1EA;
  outline-color: Black;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
