.banner {
  background-color: #2f2f30;
  font: 32px Arial, sans-serif;
  color: #ffffff;
  padding-left: 2rem;
  padding-top: 1rem;
  margin-left: 0rem;
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-top: 0rem;
  min-height: 5rem;
}
.row-banner {
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: #ffffff;
}

.footer {
  background-color: #2f2f30;
  /*
  position: absolute;
  bottom: 0;
  */
  position: relative;
  height: 2.5rem;
}
.welcomeButton {
  font: 8px;
  color: #000000;
  padding: 0.2rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  background-color: rgba(237, 244, 245, 1.0);
  border-style: none;
}

.appContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.p-3 {
  padding: 0rem;
}

.layer {
  padding: 1rem;
}

.side-bar {
  border-radius: 0.35rem;
  background-color: #E9F1EA;
  outline-color: Black;
}

.App-header-old {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link-old {
  color: #61dafb;
}

/* --- Scrollbar Styling --- */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
