.map-container {
  /*
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  flex: 1 1 auto;
  position:relative;
  min-height: 30rem;
  */
  height: 100%;
}
.vertical-menu {
  background-color: rgba(35, 55, 75, 0.9);
  color: #ffffff;
  padding: 6px 12px;
  font: 15px/24px monospace;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 4px;
  max-width: 25rem;
  height: 95%;
  overflow-y: auto;
}
.accordion-header {
  background-color: rgba(35, 55, 75, 0.9);
  color: #ffffff;
}
.scale-options {
  background-color: rgba(35, 55, 75, 0.9);
  color: #ffffff;
}
.layer-group {
  color: #ffffff;
  font: 15px/24px monospace;
  z-index: 1;
}
.layer-label {
}

.basemap-control {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #f5f6f7;
  color: #000000;
  padding-top: 6px;
  padding-left: 12px;
  font: 15px/24px monospace;
  border-radius: 4px;
  margin-bottom: 2rem;
  margin-right: 0.5rem;
}
[name=radio-basemaps] {
  display: none !important;
}
[name=radio-basemaps]:checked + label{
  outline-style: solid;
  outline-color: blue;
}

.menu-main-text {
  font: 16px/24px monospace;
  font-weight: bold;
  padding-right: .3rem;
  display: inline;
}
.menu-desc-text {
  display: inline;
  font: 14px/16px monospace;
}

.dep-form-check-label {
  background-color: #99ccff;
  padding: 0.25rem;
}
.mapboxgl-popup {
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.legend-group {
  z-index: 1;
  position: absolute;
  right: 3rem;
  bottom: 10rem;
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
  /*background-color: rgba(222, 235, 247, 0.8);*/
  background-color: #f5f6f7;
  border-radius: 4px;
  line-height: 18px;
  height: 150px;
  width: 280px;
  overflow-y: auto;
}
.legend-key {
  display: inline-block;
  border-radius: 20%;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}
.d3-legend {
  z-index: 1;
  width: 200px;
  height: 20px;
}
.d3-x-axis:not(:last-child) {
  padding-right: 4rem;
}

.labelIcons {
  font-size: 30px;
  padding-right: .3rem;
}
.labelMaps {
  width: 70px;
  height: auto;
}

.mapboxgl-popup-close-button {
  display: none;
}
.mapboxgl-popup-content {
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
  padding: 1rem;
}
.mapboxgl-popup-content-wrapper {
  padding: 1%;
}
