.map-container {
  /*
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  flex: 1 1 auto;
  position:relative;
  min-height: 30rem;
  */
  padding: 0;
  height: 100%;
}
.mapboxgl-map {
  height: 100%;
}
/*
canvas {
  cursor: crosshair;
}
*/
.vertical-menu {
  background-color: #2f2f30;
  color: #ffffff;
  padding: 6px 12px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  /*border-radius: 4px;*/
  max-width: 37rem;
  height: 100%;
  overflow-y: auto;
}
.accordion .card {
/* Allow for search dropdowns to appear over the next accordion and cards */
    overflow: inherit;
}
.accordion-header {
  background-color: #2f2f30;
  color: #ffffff;
}
.scale-accordian {
  overflow-y: visible;
}
.card {
  border-radius: 0;
}
.accordion:last-of-type > .card:last-of-type {
/* see bug here: https://github.com/react-bootstrap/react-bootstrap/issues/4556 */
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.125);
}
.scale-options {
  background-color: #2f2f30;
  color: #ffffff;
}
.layer-group {
  color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  z-index: 1;
}

/* TOGGLE CSS */
.custom-control-input:focus ~ .custom-control-label::before {
/* when the button is toggled off it is still in focus and a green border will appear */
  border-color: #009b76 !important;
/* box shadow is blue by default but we do not want any shadow hence we have set all the values as 0 */
  box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0) !important;
  }
/*sets the background color of switch to #009b76 when it is checked*/
.custom-control-input:checked ~ .custom-control-label::before {
  border-color: #009b76 !important;
  background-color: #009b76 !important;
}
/*sets the background color of switch to green when it is active*/
.custom-control-input:active ~ .custom-control-label::before {
  background-color: #009b76 !important;
  border-color: #009b76 !important;
}
/*sets the border color of switch to green when it is not checked*/
.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border-color: #009b76 !important;
}
.custom-control{
  /* settin z-index to auto allowed geocoder search suggestions to remain in front */
  z-index:auto;
}

/* POPOVER CSS */
.popover-body {
  font-family: 'Source Sans Pro', sans-serif;
}
.popover-service {
  font-family: 'Source Sans Pro', sans-serif;
  max-width: 30rem;
  overflow-y: auto;
  max-height: 35rem;
}
.popover-service-title {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #007c92;
  color: #ffffff;
  font-size: 20px;
}
.service-info-close-col {
  padding: 0;
  padding-right: 0.3rem;
}
.service-info-close-button {
  padding: 0.3rem;
  font-size: 22px;
  line-height: 22px;
  background-color: transparent;
  color: black;
  border: 0;
  border-radius: 0 0 0 0;
}
.service-info-close-button:hover {
  background-color: #f58e87;
}

/* INFO BUTTON CSS */
.btn {
  outline: none;
  box-shadow:none;
}
.button-info {
  background-color:transparent;
  font-size: 18px;
  padding: 0;
  padding-left: 0.0rem;
  margin: 0;
  border: 0;
  outline-style: none;
}
.button-info:hover {
  background-color: transparent;
}
.button-info:active {
  background-color: transparent;
  border: 0;
}
.button-info:focus {
  background-color: transparent;
  /*color: #1e7e34;*/
  border: 0;
  outline: none;
  outline-color: transparent;
  box-shadow: none;
}

.dropdown-icon {
  font-size: 25px;
  padding-left: .3rem;
}

/* BASEMAP CSS */
.basemap-control {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #f5f6f7;
  color: #000000;
  padding-top: 6px;
  padding-left: 12px;
  font: 15px/24px monospace;
  border-radius: 4px;
  margin-bottom: 2rem;
  margin-right: 0.5rem;
}
[name=radio-basemaps] {
  display: none !important;
}
[name=radio-basemaps]:checked + label{
  outline-style: solid;
  outline-color: blue;
}

.menu-main-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  padding-right: .3rem;
  display: inline;
}
.menu-desc-text {
  display: inline;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
}
#geocoder-national .mapboxgl-ctrl-geocoder {
  /*Mapbox sets z-index for geocoders at 1000, set first search bar to 
   * 1001 so it's results appear above the lower search bar
   */
  z-index: 1001;
}

.dep-form-check-label {
  background-color: #99ccff;
  padding: 0.25rem;
}

/* LEGEND CSS */
.legend-group {
  font-family: 'Source Sans Pro', sans-serif;
  z-index: 1;
  position: absolute;
  right: 0;
  margin-right: 0.5rem;
  bottom: 10rem;
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
  /*background-color: rgba(222, 235, 247, 0.8);*/
  background-color: #f5f6f7;
  border-radius: 4px;
  line-height: 18px;
  max-height: 300px;
  width: 340px;
  overflow-y: auto;
}
.legend-key {
  display: inline-block;
  border-radius: 20%;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}
.legend-desc {
  padding-left: 2px;
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 13px;
}
.d3-legend {
  z-index: 1;
  width: 220px;
  height: auto;
}
.d3-legend.sequential{
  z-index: 1;
  width: 220px;
  height: 15px;
}
.d3-legend.ordinal{
  z-index: 1;
  width: 220px;
  height: 200px;
  overflow-y: auto;
}
.d3-legend.ordinal.protected-areas{
  z-index: 1;
  width: 220px;
  height: 20px;
  overflow-y: auto;
}
.d3-x-axis {
  font-size: 12px;
}
.d3-x-axis:not(:last-child) {
  padding-right: 4.75rem;
}
.legend-item {
  font-size: 16px;
}
.sortable-container-helper {
  z-index: 1;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 18px;
  font-weight: 400;
  padding-left: 20px;
}
.drag-handle {
  font-size: 12px;
  padding-left: 0;
  padding-right: 0;
  margin-right: 0;
  cursor: grab;
}
.sortable-container {
}
.sortable-container:active {
}


.labelIcons {
  font-size: 30px;
  padding-right: .3rem;
}
.labelMaps {
  width: 70px;
  height: auto;
  cursor: pointer;
}

/* MAPBOX POPUP CSS */
.mapboxgl-popup {
  padding-bottom: 20px;
  width: 280px;
  height: 260px;
}
.mapboxgl-popup-close-button {
/*display: none;*/
  font-size: 24px;
  padding: 0.3rem;
}
.mapboxgl-popup-close-button:hover {
  background-color: #f58e87;
}
.mapboxgl-popup-content {
  font: 400 15px/22px 'Source Sans Pro', Sans-serif;
  padding: 0;
  padding-bottom: 5px;
  width: 280px;
  /*overflow-y: scroll;*/
  overflow-y: auto;
}
.mapboxgl-popup-content-wrapper {
  padding: 1%;
}
.mapboxgl-popup-content h3 {
  font-size: 20px;
  background: #007c92;
  color: #fff;
  margin: 0;
  padding: 10px;
  padding-top: 30px;
  border-radius: 3px 3px 0 0;
  font-weight: 400;
  margin-top: -15px;
}
.mapboxgl-popup-content h3 span{
  font-size: 16px;
  background: #007c92;
  color: #fff;
}
.mapboxgl-popup-content .popup-div {
  display: block;
  clear: both;
}
.mapboxgl-popup-content h4 {
  font-size: 16px;
  margin: 0;
  padding-left: 5px;
  padding-top: 10px;
  font-weight: 400;
  /*float: left;*/
}
.mapboxgl-popup-content h5  {
  font-size: 14px;
  margin: 0;
  padding-left: 10px;
  padding-top: 5px;
  font-weight: 200;
  /*float: right;*/
}
.mapboxgl-popup-content div {
  padding: 10px;
}

.mapboxgl-container .leaflet-marker-icon {
  cursor: pointer;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
  margin-top: 15px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
  border-bottom-color: #91c949;
}
